.quiz-container {
  padding: 1rem;
  text-align: center;
}

.question-container {
  margin-bottom: 1.5rem;
}

.answers-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza os botões */
  gap: 0.5rem; /* Espaço entre os botões */
}

.answer-button {
  padding: 0.6rem 1.2rem;
  width: 80%;
  max-width: 300px;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  background-color: #1a1a1a;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.25s, border-color 0.25s;
}

.answer-button:hover:not(:disabled) {
  border-color: #646cff;
}

.answer-button:disabled {
  cursor: not-allowed;
}

/* Estilo para a resposta correta */
.answer-button.correct {
  background-color: #4caf50;
  border-color: #4caf50;
  color: #fff;
}

/* Estilo para a resposta incorreta (se o usuário escolheu erradamente) */
.answer-button.incorrect {
  background-color: #f44336;
  border-color: #f44336;
  color: #fff;
}

.feedback {
  margin-top: 1rem;
  font-size: 1.2em;
  font-weight: bold;
}

.score-section {
  font-size: 1.2em;
  font-weight: bold;
}
