:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
}

body.theme-dark {
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
}

body.theme-light {
  background-color: #ffffff;
  color: #213547;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body.theme-dark a {
  color: #646cff;
}

body.theme-light a {
  color: #646cff;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

body.theme-dark button {
  background-color: #1a1a1a;
  color: #fff;
}

body.theme-light button {
  background-color: #f9f9f9;
  color: #213547;
}

.theme-toggle {
  margin-left: 1rem;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

body.theme-dark .theme-toggle:hover {
  background-color: #646cff;
}

body.theme-light .theme-toggle:hover {
  background-color: #e0e0e0;
}
